---
layout: main_page
---

<!-- section for featured posts -->
<section class="site-section">
    <div class="wrapper">
      <h1>Featured articles</h1>
      <ul class="post-list">
	  {% assign count = 0 %}
	  {% for post in site.posts %}
	  {% if post.featured == true and count < 2%}
	  <li class="post-featured">
	      {% include post.html %}
	  </li>
	  {% assign count = count | plus: 1 %}
	  {% endif%}
	  {% endfor %}
      </ul>
    </div>
</section>
<!-- section for latest articles -->
<section class="site-section section-last">
    <div class="wrapper">
	<h1>Latest articles</h1>
	<ul class="post-list">
	  {% for post in site.posts | limit:4 %}
	    <li class="post">
		{% include post.html %}
	    </li>
	  {% endfor %}
	</ul>
    </div>
</section>
